<!doctype html>

<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <!-- Start of Shoplift scripts -->
    {% render 'shoplift' %}
    <!-- End of Shoplift scripts -->

    <meta charset="utf-8">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, maximum-scale=1.0"
    >
    <meta name="theme-color" content="{{ settings.accent_color }}">

    <title>
      {% if page_title == blank -%}
        {{- shop.name -}}
      {%- else -%}
        {{- page_title -}}
        {%- if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif -%}
      {%- endif %}
    </title>

    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}
{% comment %}
Gio: 2021-01-21 - To end robots from following urls with collections/all
{% endcomment %}
    {% if canonical_url contains 'collections/all' %}
         <meta name="robots" content="noindex">
    {% endif %}
 {% comment %}
Gio END: 2021-01-21 - To end robots from following urls with collections/all
{% endcomment %} 

{% comment %}
    <!-- Gio BEGIN: 8/2/2024  Add "noindex" to the following pages -->
{% endcomment %}
{% if request.path contains 'brand_' %}
<meta name="robots" content="none">
{% endif %}
{%  if request.path contains 'style_' %}
  <meta name="robots" content="none">
{% endif %}
{%  if request.path contains 'equivalent_' %}
<meta name="robots" content="none">
{% endif %}
{% if request.path contains 'wattage_' %}
<meta name="robots" content="none">
{% endif %}
{%  if request.path contains 'lumens_' %}
<meta name="robots" content="none">
{% endif %}
{% if request.path contains 'input-voltage_' %}
<meta name="robots" content="none">
{% endif %}
{% if request.path contains 'output-voltage_' %}
<meta name="robots" content="none">
{% endif %}
{% if request.path contains 'mounting-location_' %}
<meta name="robots" content="none">
{% endif %}
{% if request.path contains 'dlc_' %}
<meta name="robots" content="none">
{% endif %}
{% if request.path contains 'special-features_' %}
<meta name="robots" content="none">
{% endif %}
{% if request.path contains 'lumens_' %}
<meta name="robots" content="none">
{% endif %}
{% if  request.path contains 'made-in-usa_' %}
<meta name="robots" content="none">
{% endif %}
{% if request.path contains 'accessories_' %}
<meta name="robots" content="none">
{% endif %}
{% if request.path contains 'mounting-type_' %}
<meta name="robots" content="none">
{% endif %}
{% if request.path contains 'light-distribution_' %}
<meta name="robots" content="none">
{% endif %}
{% if request.path contains 'cct_' %}
<meta name="robots" content="none">
{% endif %}
{% if request.path contains 'quickship_' %}
<meta name="robots" content="none">
{% endif %}
{% if request.path contains 'finish_' %}
<meta name="robots" content="none">
{% endif %}
{%  if request.path contains 'emergency-backup_' %}
<meta name="robots" content="none">
{% endif %}
{%  if request.path contains 'sort_by' %}
<meta name="robots" content="none">
{% endif %}
{% if request.path contains 'tube-style_' %}
<meta name="robots" content="none">
{% endif %}
    
  {%- if request.path == '/collections/vendors' and collection.all_products_count == 0 -%}
    <meta name="robots" content="noindex">
  {%- endif -%}
    
{% comment %}
    <!-- Gio END: 8/2/2024  Add "noindex" to the following pages -->
{% endcomment %}

{% comment %} <!-- 9/19/2025 Gio add code to overwrite canonical url -> {% endcomment %}
{% if template contains 'collection' and current_tags %}
    <link rel="canonical" href="{{ shop.url }}{{ collection.url }}" />
  {% elsif template == "product" %}
      <link rel="canonical" href="{{ shop.url }}{{ product.url }}" />
    {%  comment %} <!-- GIO BEGIN 10/29/2023 - Canonical page for some important pages --> {%  endcomment %}
    {%  elsif  page.handle == "outdoor-lighting" %}
         <link rel="canonical" href="https://revolveled.com/pages/outdoor-lighting" />
    {%  elsif  page.handle == "indoor-lighting" %}
         <link rel="canonical" href="https://revolveled.com/pages/indoor-lighting" />
    {%  elsif  page.handle == "shop-by-application" %}
         <link rel="canonical" href="https://revolveled.com/pages/shop-by-application" />
    {%  elsif  page.handle == "outlet" %}
        <link rel="canonical" href="https://revolveled.com/pages/outlet" /> 
    {%  elsif  page.handle == "lighting-layout" %}
        <link rel="canonical" href="https://revolveled.com/pages/lighting-layout" />   
    {%  elsif  page.handle == "contractor-registration" %}
        <link rel="canonical" href="https://revolveled.com/pages/contractor-registration" />
    {%  elsif  page.handle == "member-rewards-program" %}
        <link rel="canonical" href="https://revolveled.com/pages/member-rewards-program" /> 
    {%  elsif template contains 'blog' %}
            <link rel="canonical" href="{{ shop.url }}{{ blog.url }}" />
    {%  elsif template contains 'article' %}
            <link rel="canonical" href="{{ shop.url }}{{ article.url  }}" />
    {%  comment %}  <!-- END gio 10/29/2023 --> {%  endcomment %}
  {% else %}
    <link rel="canonical" href="{{ canonical_url }}">
  {% endif %}
  
    {%- if settings.favicon -%}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '96x96' }}" type="image/png">
    {%- endif -%}

    {%- comment -%}Few prefech to increase performance on commonly used third-parties{%- endcomment -%}
    <link rel="preload" as="style" href="{{ 'theme.css' | asset_url }}">
    <link rel="preload" as="style" href="{{ 'custom.css' | asset_url }}">
    <link rel="preload" as="script" href="{{ 'theme.js' | asset_url }}">
    <link rel="preload" as="script" href="{{ 'jquery.3.6.0.min.js' | asset_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com">
    <link rel="preconnect" href="https://fonts.shopifycdn.com">
    <link rel="dns-prefetch" href="https://productreviews.shopifycdn.com">
    <link rel="dns-prefetch" href="https://ajax.googleapis.com">
    <link rel="dns-prefetch" href="https://maps.googleapis.com">
    <link rel="dns-prefetch" href="https://maps.gstatic.com">

    {% render 'social-meta-tags' %}
    {% render 'css-variables' %}

    {{ content_for_header }}

    <link rel="stylesheet" href="{{ 'theme.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'custom.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'obx-custom.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'swiper-bundle.min.css' | asset_url }}">

    {% render 'microdata-schema' %}

    <script>
      // This allows to expose several variables to the global scope, to be used in scripts
      window.theme = {
        pageType: {{ request.page_type | json }},
        cartCount: {{ cart.item_count | json }},
        moneyFormat: {{ shop.money_format | json }},
        moneyWithCurrencyFormat: {{ shop.money_with_currency_format | json }},
        currencyCodeEnabled: {{ settings.currency_code_enabled | json }},
        showDiscount: {{ settings.show_discount | json }},
        discountMode: {{ settings.discount_mode | json }},
        cartType: {{ settings.cart_type | json }},
        strings: {
          products: {{ 'header.search.products' | t | json }},
          noResults: {{ 'header.search.no_results' | t | json }}
        }
      };

      window.routes = {
        rootUrl: {{ routes.root_url | json }},
        rootUrlWithoutSlash: {% if routes.root_url == '/' %}''{% else %}{{ routes.root_url | json }}{% endif %},
        cartUrl: {{ routes.cart_url | json }},
        cartAddUrl: {{ routes.cart_add_url | json }},
        cartChangeUrl: {{ routes.cart_change_url | json }},
        searchUrl: {{ routes.search_url | json }},
        productRecommendationsUrl: {{ routes.product_recommendations_url | json }}
      };

      window.languages = {
        productRegularPrice: {{ 'product.general.regular_price' | t | json }},
        productSalePrice: {{ 'product.general.sale_price' | t | json }},
        collectionOnSaleLabel: {{ 'collection.product.discount_html' | t | json }},
        productFormUnavailable: {{ 'product.form.unavailable' | t | json }},
        productFormAddToCart: {{ 'product.form.add_to_cart' | t | json }},
        productFormPreOrder: {{ 'product.form.pre_order' | t | json }},
        productFormSoldOut: {{ 'product.form.sold_out' | t | json }},
        productAdded: {{ 'product.form.added' | t | json }},
        productAddedShort: {{ 'product.form.added_short' | t | json }},
        shippingEstimatorNoResults: {{ 'cart.shipping_estimator.no_results_title' | t | json }},
        shippingEstimatorOneResult: {{ 'cart.shipping_estimator.one_result_title' | t | json }},
        shippingEstimatorMultipleResults: {{ 'cart.shipping_estimator.multiple_results_title' | t | json }},
        shippingEstimatorErrors: {{ 'cart.shipping_estimator.errors' | t | json }}
      };

      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    </script>

    {%- if request.page_type == 'customers/addresses' -%}
      <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer></script>
      <script src="{{ 'customer_area.js' | shopify_asset_url }}" defer></script>
    {%- endif -%}
    <script src="{{ 'jquery.3.6.0.min.js' | asset_url }}" async></script>
    <script src="{{ 'swiper-bundle.min.js' | asset_url }}" defer></script>
    <script src="{{ 'theme.js' | asset_url }}" defer></script>
    <script src="{{ 'custom.js' | asset_url }}" defer></script>
    <script src="{{ 'lazysizes.min.js' | asset_url }}" defer></script>
    {% render 'zinrelo-integration' %}

    {%- if request.page_type != 'cart' -%}
      <script>
        (function () {
          window.onpageshow = function () {
            // We force re-freshing the cart content onpageshow, as most browsers will serve a cache copy when hitting the
            // back button, which cause staled data
            document.documentElement.dispatchEvent(
              new CustomEvent('cart:refresh', {
                bubbles: true,
                detail: { scrollToTop: false },
              })
            );
          };
        })();
      </script>
    {%- endif -%}
  </head>

  <body
    class="warehouse--v4 {% if settings.animation_image_zoom %}features--animate-zoom{% endif%} template-{{ request.page_type | handle }} {% if request.page_type contains '/' %}template-{{ request.page_type | split: '/' | last | handle }}{% endif %}"
    data-instant-intensity="viewport"
  >
    {%- comment -%}Common SVG definitions that we are re-using in several places{%- endcomment -%}
    <svg class="visually-hidden">
      <linearGradient id="rating-star-gradient-half">
        <stop offset="50%" stop-color="var(--product-review-star-color)" />
        <stop offset="50%" stop-color="rgba(var(--text-color-rgb), .4)" stop-opacity="0.4" />
      </linearGradient>
    </svg>

    <a href="#main" class="visually-hidden skip-to-content">{{ 'general.accessibility.skip_to_content' | t }}</a>
    <span class="loading-bar"></span>

    {%- sections 'header-group' -%}
    {%- sections 'overlay-group' -%}

    <main id="main" role="main">
      {{ content_for_layout }}
    </main>

    {%- sections 'footer-group' -%}

    <ul hidden>
      <li id="a11y-new-window-message">{{ 'general.accessibility.new_window' | t }}</li>
    </ul>

    {% render 'end-content-scripts' %}
    <script defer>
      window.addEventListener('load', function () {
        var submitButton = document.getElementById('submitRFQForm');
        if (submitButton) {
          submitButton.addEventListener('click', function () {
            gtag('event', 'conversion', { send_to: 'AW-653967201/VDi3COuk-6IYEOH-6rcC' });
            window.uetq = window.uetq || [];
            window.uetq.push({ ec: 'requestQuote', ea: 'submit', el: 'form' });
          });
        }
      });
    </script>
    {% render 'samita-custom' %}
  </body>
</html>
