{{ 'featured-products-swiper.css' | asset_url | stylesheet_tag }}
{{ 'custom-product-card.css' | asset_url | stylesheet_tag }}
{%- capture section_settings -%}
{
  {% comment %} "slidesPerGroup": 4 {% endcomment %}
  {% comment %} "slidesPerGroupMobile": 2 {% endcomment %}
}
{%- endcapture -%}
{% liquid
  if section.settings.image_lazy
    assign image_lazy = 'lazy'
  else
    assign image_lazy = ''
  endif
%}
<section
  class="section featured-products-swiper index-section"
  data-section-id="{{ section.id }}"
  data-section-type="featured-products-swiper"
  data-section-settings="{{ section_settings | escape_once }}"
>
  <div
    class="featured-products-swiper-section__container container"
  >
    <div class="featured-products-swiper-section__content-container">
      <div class="featured-products-swiper-section__content-wrapper index-section__header-button_inversion">
        {%- if section.settings.title != blank -%}
          <header class="section__header index-section__header">
            <h2 class="heading h3 index-section__title">{{ section.settings.title }}</h2>
          </header>
          {% if section.settings.show_button %}
            <div class="section__header-button-container">
              <a
                class="section__header-button"
                aria-label="{{ section.settings.link_title }}"
                href="{{ collections[section.settings.collection].url}}"
              >
                {{ section.settings.link_title }}
              </a>
            </div>
          {% endif %}
        {%- endif -%}
        {%- if section.settings.collection != blank -%}
          {% assign collection = section.settings.collection %}
          <div class="featured-products-swiper-section__swiper-container">
            <div class="swiper">
              <div class="swiper-wrapper">
                {% for product in collections[collection].products %}
                  {%- render 'product-item-custom',
                    product: product,
                    show_add_to_cart: true,
                    show_quick_view: true,
                    swiper: true,
                    loading_type: image_lazy,
                    disable_quote_button: section.settings.disable_quote_button
                  -%}
                {% endfor %}
              </div>
              <div class="custom-swiper-pagination swiper-pagination"></div>
            </div>
            <div class="custom-swiper-button swiper-button-prev">
              {% render 'icon', icon: 'custom-swiper-prev' %}
            </div>
            <div class="custom-swiper-button swiper-button-next">
              {% render 'icon', icon: 'custom-swiper-next' %}
            </div>
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>

  {%- comment -%}
    --------------------------------------------------------------------------------------
    QUICK VIEW CONTAINER
    --------------------------------------------------------------------------------------
  {%- endcomment -%}

  <div
    id="modal-quick-view-{{ section.id }}"
    class="modal"
    aria-hidden="true"
  >
    <div class="modal__dialog modal__dialog--stretch" role="dialog">
      <button class="modal__close link" data-action="close-modal">{%- include 'icon' with 'close' -%}</button>

      <div class="modal__loader">
        {%- include 'icon' with 'search-loader' -%}
      </div>

      <div class="modal__inner"></div>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Featured products swiper",
  "settings": [
    {
      "type": "html",
      "id": "title",
      "label": "Heading"
    },
    {
      "type": "checkbox",
      "id": "show_button",
      "label": "Show button",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "disable_quote_button",
      "label": "Disable quote button",
      "default": false
    },
    {
      "type": "text",
      "id": "link_title",
      "label": "Link title",
      "default": "View All"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "checkbox",
      "id": "image_lazy",
      "label": "Image lazy loading",
      "default": false
    }
  ],
  "presets": [
    {
      "category": "Product",
      "name": "Featured products swiper",
      "settings": {}
    }
  ]
}
{% endschema %}
